{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
"rules": {

    /* JS */
    "no-alert": 2,
    "camelcase": 2,
    "strict": [2, "global"],
    "init-declarations": [2, "always"],
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow": 2,
    "no-undef": 2,
    "no-use-before-define": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "no-eq-null":2,
    "no-unexpected-multiline": 2,
    
    /* Best Practices */
    "eqeqeq": 2,
    
    /* Angular */
    "angular/controller-as-route":2,
    "angular/controller-as":2,
    "angular/controller-name":2,
    "angular/module-getter":2,
    "angular/controller-as-vm":2,
    "angular/on-watch":2,
    "angular/document-service":2,
    "no-unused-vars":2,
    "angular/no-services":2,
    "no-console":2,
    "angular/definedundefined":2,
    "angular/log":2,
    "angular/window-service":2,
    "angular/no-private-call":2,
    "angular/no-service-method":2,
    "angular/typecheck-array":2,

    /* code styling */
    "array-bracket-spacing":[2, "always"],
    "block-spacing": [2, "always"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": [2, {"properties": "always"}],
    "consistent-this": [2, "self"],
    "no-trailing-spaces": [2, { "skipBlankLines": false }],
    "no-multiple-empty-lines": [2, {"max": 2}],
    "jsx-quotes":2,
    "quotes":[2, "single", "avoid-escape"],
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": [2, "always"],
    "no-bitwise": 2,
    "no-continue": 2,
    "no-new-object": 2,
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "space-in-parens": [2, "always"],
    "space-infix-ops": 2,
    "wrap-regex": 2,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "computed-property-spacing": [2, "always"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "first"],
    "id-length": [2, {"min": 3,  "properties": "never", "exceptions": ["x","i","j","k","$q"]}],
    "key-spacing": [2, {"beforeColon": true, "afterColon": true}],
    "linebreak-style": [2, "unix"],
    "lines-around-comment": [2, { "beforeBlockComment": true, "beforeLineComment": true }],
    "max-depth": [2, 3],
    "complexity": [2, 10],
    "max-len": [2, 140, 4, {"ignoreComments": true, "ignoreUrls": true}],
    "max-params": [2, 3],
    "max-nested-callbacks": [2, 4],
    "no-lonely-if": 2,
    "no-negated-condition": 2,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-nested-ternary":2,
    "one-var": [2, "always"],
    "operator-assignment" : [2, "always"],
    "operator-linebreak": [2, "before", { "overrides": { "?": "after" } }],
    "padded-blocks": [2, "always"],
    "sort-vars": 2
    },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
